POSTGRES_DB=edormitory
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=postgres
POSTGRES_CONTAINER_PORT=5432
POSTGRES_HOST_PORT=5433

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
AUTH_ISSUER=EDormitory
AUTH_AUDIENCE=EDormitory.Web
AUTH_SIGNING_KEY=change-this-signing-key
STORAGE_PROVIDER=Disk
STORAGE_ROOT_PATH=/app/storage

WEB_HOST_PORT=3000
VITE_API_BASE_URL=/api
VITE_DEV_API_PROXY_TARGET=http://api:8080
